---
layout: default
---

<header class="centered grid mob-hide fixed">
  <nav class="col-12_sm-hidden">
    <a class="padded-1" href="/wedding-invitation#date">   <span class="iconify" data-icon="clarity:date-line" data-inline="false"></span><br>Date & Time </a>
    <a class="padded-1" href="/wedding-invitation#location"> <span class="iconify" data-icon="carbon:location-heart" data-inline="false"></span><br>Location </a>
    <a class="padded-1" href="/wedding-invitation#dress"> <span class="iconify" data-icon="ion:shirt-outline" data-inline="false"></span><br>Dress Code </a>
    <a class="padded-1" href="/wedding-invitation#rsvp"> <span class="iconify" data-icon="bi:check" data-inline="false"></span><br>RSVP </a>
    <a class="padded-1" href="/wedding-invitation#gift"> <span class="iconify" data-icon="bytesize:gift" data-inline="false"></span><br> Gift Registery </a>
    <a class="padded-1" href="/wedding-invitation#story"> <span class="iconify" data-icon="bx:bx-book-heart" data-inline="false"></span><br> Love Story </a>
  </nav>
</header>

  <!-- only opens with mobile-menu -->
  <section class="grid desktop-hide fixed">
    <div class="col-2-middle padded grid-middle centered fixed desktop-hide">
      <div>
        <p class="hamburger"><span class="iconify" data-icon="emojione-monotone:ring" data-inline="false"></span></p>
      </div>
      <div class='grid-center mob-logo page-nav mobile-menu'>
        <p class="cross exit right">╳</p>
        <a class="padded-1 exit" href="/wedding-invitation#date">   <span class="iconify" data-icon="clarity:date-line" data-inline="false"></span><br>Date & Time </a>
        <a class="padded-1 exit" href="/wedding-invitation#location"> <span class="iconify" data-icon="carbon:location-heart" data-inline="false"></span><br>Location </a>
        <a class="padded-1 exit" href="/wedding-invitation#dress"> <span class="iconify" data-icon="ion:shirt-outline" data-inline="false"></span><br>Dress Code </a>
        <a class="padded-1 exit" href="/wedding-invitation#rsvp"> <span class="iconify" data-icon="bi:check" data-inline="false"></span><br>RSVP </a>
        <a class="padded-1 exit" href="/wedding-invitation#gift"> <span class="iconify" data-icon="bytesize:gift" data-inline="false"></span><br> Gift Registery </a>
        <a class="padded-1 exit" href="/wedding-invitation#story"> <span class="iconify" data-icon="bx:bx-book-heart" data-inline="false"></span><br> Love Story </a>
      </div>
    </div>
  </section>



    {{content}}

  <footer class="border-top grid-centered">
    <div class="col-12 centered">
    Made with love by <a href="https://kingcode.uk/"> kingcode </a>
    </div>
  </footer>
