---
layout: default
---

<header class="centered grid fixed">
  <nav class="col-12_sm-hidden">
    <a class="padded-1" href="/wedding-invitation#date">   <span class="iconify" data-icon="clarity:date-line" data-inline="false"></span><br>Date & Time </a>
    <a class="padded-1" href="/wedding-invitation#location"> <span class="iconify" data-icon="carbon:location-heart" data-inline="false"></span><br>Location </a>
    <a class="padded-1" href="/wedding-invitation#dress"> <span class="iconify" data-icon="ion:shirt-outline" data-inline="false"></span><br>Dress Code </a>
    <a class="padded-1" href="/wedding-invitation#rsvp"> <span class="iconify" data-icon="bi:check" data-inline="false"></span><br>RSVP </a>
    <a class="padded-1" href="/wedding-invitation#story"> <span class="iconify" data-icon="bx:bx-book-heart" data-inline="false"></span><br> Love Story </a>
  </nav>
  <div class="col-2-middle padded grid-middle centered fixed desktop-hide">
    <div>
      <p class="hamburger"><span class="iconify" data-icon="emojione-monotone:ring" data-inline="false"></span></p>
    </div>
  <!-- only opens with mobile-menu -->

    <div class='grid-center mob-logo page-nav mobile-menu'>
      <a class="mob-logo" href="/index">
        <img src="/images/vista-logo3.png" alt="">
      </a>
      <p class="cross exit right">╳</p>
      <a class="padded-1" href="/wedding-invitation#date">   <span class="iconify" data-icon="clarity:date-line" data-inline="false"></span><br>Date & Time </a>
      <a class="padded-1" href="/wedding-invitation#location"> <span class="iconify" data-icon="carbon:location-heart" data-inline="false"></span><br>Location </a>
      <a class="padded-1" href="/wedding-invitation#dress"> <span class="iconify" data-icon="ion:shirt-outline" data-inline="false"></span><br>Dress Code </a>
      <a class="padded-1" href="/wedding-invitation#rsvp"> <span class="iconify" data-icon="bi:check" data-inline="false"></span><br>RSVP </a>
      <a class="padded-1" href="/wedding-invitation#story"> <span class="iconify" data-icon="bx:bx-book-heart" data-inline="false"></span><br> Love Story </a>
    </div>
  </div>
</header>

    {{content}}
